.nav-bar {
  display: flex;
  justify-content: space-evenly;
}

.low-bar {
  display: flex;
  justify-content: space-evenly;
}

.portrait {
  max-width: 200px;
  max-height: 500px;
}

.portrait-diesel {
  max-width: 100%;
  max-height: 100%;
}

/* Card Flip Functions Begins */
.collab {
  display: flex;
  flex-direction: column;
}

.collab-flip {
  background-color: transparent;
  width: 150px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 1em;
}

.collab-flipInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.collab-flip:hover .collab-flipInner {
  transform: rotateY(180deg);
}

.collab-flipFront, .collab-flipBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.collab-flipFront {
  background-color: #bbb;
  color: black;
}

.collab-flipBack {
  background-color: goldenrod;
  color: white;
  transform: rotateY(180deg);
}
/* Card Flip Functions Ends */